.heroContainer{
    background-color: #eee;
}
.hero-img{
background-color: #fff;
border-radius: 77% 23% 72% 28% / 29% 60% 40% 71% ;
width: 450px;
}
.heroTitle{
    font-family: 'lalazar';
    font-size: 30px;
    text-align: center;
    padding: 30px 0px;
}
.startLearning{
    padding: 30px 0 0 40px;
    text-align: left;

}
.startLearning b{
    font-size: 30px;
}