.swiperBtn button{
all: unset;
width: 50px;
height: 50px;
border-radius: 50px;
background-color: #eee;
margin: 0 5px;
transition: all .5s;
}
.swiperBtn button svg{
    display: block;
    margin: auto;
}
.swiperBtn button:hover{
    cursor: pointer;
    background-color: #ccc;
}