.customSwiperStyle{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 10px;
}
.swiperTopSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sectionTitle{
    font-family: 'lalazar';
    margin: 30px 0;
}
